.game-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 500px;
    height: 500px;
    gap: 8px;
    padding: 8px;
    background-color: burlywood;
}

.game-container div {
    background-color: blanchedalmond;
    cursor: pointer;
}

.x {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Saint_Andrew%27s_cross_black.svg/1200px-Saint_Andrew%27s_cross_black.svg.png);
    background-size: 100%;
}

.y {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/LetterY.svg/640px-LetterY.svg.png);
    background-size: 100%;
}