@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

* {
    font-family: 'Nunito', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3rem;
    letter-spacing: 0.5rem;
}

button {
    width: 12rem;
    height: 4rem;
    border: none;
    border-radius: 12px;
    font-size: large;
    cursor: pointer;
}

button:hover {
    background-color: rgb(226, 226, 226);
}

.game-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 500px;
    height: 500px;
    gap: 1rem;
    padding: 1rem;
    margin: 2rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.game-container div {
    background-color: rgb(240, 240, 240);
    border-radius: 8px;
    cursor: pointer;
}

.game-container div:hover {
    background-color: rgb(228, 228, 228);
}

.O {
    background-image: url(assets/images/circle.png);
    background-size: 100%;
}

.X {
    background-image: url(assets/images/cross.png);
    background-size: 100%;
}

.players-info {
    font-size: 2rem;
}